<p>Name: {{ musicForm.get("name")?.value }}</p>
<p>Auteur: {{ musicForm.get("auteur")?.value }}</p>
<p>Style: {{ musicForm.get("style")?.value }}</p>

<div class="container-sm">
    <form [formGroup]="musicForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nom de l'album</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
            <div class="alert alert-danger my-2" *ngIf="name?.touched && (name?.pristine || name?.invalid)">
                <p *ngIf="name?.errors?.['required']">Le nom de l'album est requis</p>
                <p *ngIf="name?.errors?.['minlength']">
                    Le nom de l'album doit contenir "{{name?.errors?.['minlength']?.["requiredLength"]}}" caractère(s). Vous en avez fournis {{ name?.errors?.['minlength']?.["actualLength"] }}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="auteur">Auteur :</label>
            <input type="text" class="form-control" id="auteur" formControlName="auteur" required>
            <div class="alert alert-danger my-2" *ngIf="auteur?.touched && (auteur?.pristine || auteur?.invalid)">
                L'auteur
                est requis</div>

        </div>
        <div class="form-group">
            <label for="style">Style de musique :</label>
            <select id="style" class="form-control" formControlName="style">
                <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary my-2">Add</button>
    </form>
</div>

<div class="container-sm">
    <h2>Vous avez soumis l'album suivant :</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9"></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>
<!-- <pre>{{ musicForm | json }}</pre> -->