.logined {
    height: 90vh;
    align-items: center;
}

.form {
    width: 30%;
    margin-inline: auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow:  10px 10px 5px purple;
}

.login-h1 {
    text-transform: uppercase;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #ccc;
}