<div [@fadeInAnimation] class="col-sm-4 video" *ngIf=" album" style="width: 100%;">
    <div class="card">
        <img class="card-img-top" src="./assets/location.jpg" alt="Group Music">
        <div class="card-body">
            <h5 class="card-title">{{ album.title }}</h5>
            <p class="card-text">{{ album.name }}</p>
            <a class="btn btn-primary" (click)="play(album)">Play >> </a>
        </div>
        <ul class="list-group">
            <li *ngFor="let list of albumList " class="list-group-item">{{ list }}</li>
        </ul>
    </div>
</div>

<!-- Si nous avons des sons dans la playlist -->
<!-- <ul *ngIf="songs; else noSong" class="list-group">
    <li class="list-group-item" *ngFor="let song of songs">{{ song }}</li>
</ul> -->
<!-- Au cas contraire -->
<!-- <ng-template #nolist>
    <ul>
        <li class="list-group-item">Pas de son pour cet album</li>
    </ul>
</ng-template> -->